<a href="https://colab.research.google.com/github/AxelRK200/trend_finder_dataiku/blob/main/Exploration/pyTrends_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance
!pip install pytrends

In [22]:
import yfinance as yf
from pytrends.request import TrendReq
import pandas as pd, numpy as np
from datetime import datetime, timedelta

# Import et mise en forme #

In [ ]:
ndx = yf.Ticker("^NDX")
df_source = ndx.history(period="max")

In [ ]:
# Passe la date d'index à colonne
df_source.reset_index(inplace=True)

In [ ]:
df_source.drop(columns=['Dividends','Stock Splits'], inplace=True)

In [ ]:
df_source.head()

,Date,Open,High,Low,Close,Volume
0,1985-10-01 00:00:00-04:00,110.620003,112.160004,110.565002,112.139999,153160000
1,1985-10-02 00:00:00-04:00,112.139999,112.540001,110.779999,110.824997,164640000
2,1985-10-03 00:00:00-04:00,110.839996,111.184998,110.120003,110.870003,147300000
3,1985-10-04 00:00:00-04:00,110.870003,110.870003,109.855003,110.074997,147900000
4,1985-10-07 00:00:00-04:00,110.074997,110.135002,108.175003,108.199997,128640000

# Google search Trend

In [ ]:
pytrends = TrendReq(hl='en-US', tz=360)

In [62]:
kw_list = ["recession","inflation","debt"]

### Calcul des périodes

In [63]:
date_jour = datetime.now()
date_jour_str = date_jour.strftime("%Y-%m-%d")
print(date_jour_str)

date_30j = date_jour - timedelta(days=30)
date_30j_str = date_30j.strftime("%Y-%m-%d")
print(date_30j_str)

2023-02-23
2023-01-24

In [64]:
intervalle_appel = date_30j_str + " " + date_jour_str
print(intervalle_appel)

2023-01-24 2023-02-23

In [65]:
pytrends.build_payload(kw_list, timeframe=intervalle_appel, geo='US')

In [66]:
df_temp = pytrends.interest_over_time().drop(columns=["isPartial"])
df_temp.reset_index(inplace=True)
df_temp

         date  recession  inflation  debt
0  2023-01-24         21         42    93
1  2023-01-25         19         37    97
2  2023-01-26         22         41    92
3  2023-01-27         17         40    80
4  2023-01-28         13         27    67
5  2023-01-29         12         30    67
6  2023-01-30         16         39    90
7  2023-01-31         17         43    94
8  2023-02-01         16         46    88
9  2023-02-02         18         46    85
10 2023-02-03         14         41    78
11 2023-02-04         10         30    60
12 2023-02-05         11         32    52
13 2023-02-06         16         49    77
14 2023-02-07         14         50   100
15 2023-02-08         15         52    98
16 2023-02-09         14         43    79
17 2023-02-10         14         38    68
18 2023-02-11          9         30    53
19 2023-02-12          7         28    44
20 2023-02-13         11         43    62
21 2023-02-14         12         64    71
22 2023-02-15         15         50    77
23 2023-02-16         16         48    77
24 2023-02-17         10         37    70
25 2023-02-18          9         28    53
26 2023-02-19         10         30    49

In [41]:
df_temp.dtypes

date         datetime64[ns]
recession             int64
isPartial              bool
dtype: object