In [1]:
import dataiku
from dataiku import pandasutils as pdu
import pandas as pd
import yfinance as yf

In [3]:
ndx = yf.Ticker("^NDX")

Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo] <br/>
valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max

In [38]:
df_historical_data_intraday = ndx.history(interval="1h", period="2y")
df_historical_data_intraday.head()

                                  Open         High          Low        Close     Volume  Dividends  Stock Splits
2020-06-11 09:30:00-04:00  9909.553711  9969.127930  9875.968750  9935.343750          0          0             0
2020-06-11 10:30:00-04:00  9932.698242  9977.778320  9872.724609  9898.992188  294129910          0             0
2020-06-11 11:30:00-04:00  9899.120117  9903.159180  9765.940430  9780.107422   92581018          0             0
2020-06-11 12:30:00-04:00  9778.772461  9813.184570  9701.581055  9754.187500   87756320          0             0
2020-06-11 13:30:00-04:00  9754.617188  9769.885742  9685.639648  9711.245117   73207855          0             0

En intervalle de temps 1h, les données ne peuvent remonter que jusqu'à 2 ans max

In [40]:
# Comparaison des données Daily avec valeurs investpy #
df_historical_data = ndx.history(interval="1d", period="max")
df_historical_data.head()

                  Open        High         Low       Close     Volume  Dividends  Stock Splits
Date
1985-10-01  110.620003  112.160004  110.565002  112.139999  153160000          0             0
1985-10-02  112.139999  112.540001  110.779999  110.824997  164640000          0             0
1985-10-03  110.839996  111.184998  110.120003  110.870003  147300000          0             0
1985-10-04  110.870003  110.870003  109.855003  110.074997  147900000          0             0
1985-10-07  110.074997  110.135002  108.175003  108.199997  128640000          0             0

In [41]:
df_historical_data.tail()

                    Open          High           Low         Close      Volume  Dividends  Stock Splits
Date
2022-06-06  12745.889648  12804.459961  12534.580078  12599.629883  4633950000          0             0
2022-06-07  12456.490234  12737.299805  12413.559570  12711.679688  4383960000          0             0
2022-06-08  12682.809570  12776.650391  12578.549805  12615.129883  4689310000          0             0
2022-06-09  12543.370117  12666.410156  12265.860352  12269.780273  5382110000          0             0
2022-06-10  12052.599609  12082.694336  11825.351562  11832.820312   955974912          0             0