In [1]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu
from ta.trend import SMAIndicator

In [2]:
# Read recipe inputs
yfinance_ndx_hist1985_weekly = dataiku.Dataset("yfinance_ndx_hist1985_weekly")
hist = yfinance_ndx_hist1985_weekly.get_dataframe()

In [3]:
# Vérification aucune ligne nulle
hist.isnull().sum()

Date           0
Open           0
Close          0
Volume         0
Num_Semaine    0
dtype: int64

In [4]:
s_sma = SMAIndicator(close = hist.Close, window=40).sma_indicator()
hist["SMA_40"] = s_sma

In [5]:
# Suppression des lignes vides le temps de démarrage SMA
hist.dropna(subset=['SMA_40'], inplace=True)

In [6]:
hist["SMA_40"] = hist.SMA_40.apply(lambda f : round(f,2))

In [7]:
hist.reset_index(drop=True, inplace=True)

In [8]:
hist.head()

         Date    Open   Close      Volume Num_Semaine  SMA_40
0  1986-06-30  161.62  164.51   988800000     1986-27  139.96
1  1986-07-07  164.51  152.85  1162800000     1986-28  141.02
2  1986-07-14  152.85  147.76  1160400000     1986-29  141.94
3  1986-07-21  147.76  148.26   975500000     1986-30  142.79
4  1986-07-28  148.26  144.19   975920000     1986-31  143.55

In [0]:
# Write recipe outputs
weekly_MA = dataiku.Dataset("weekly_MA")
weekly_MA.write_with_schema(hist)