In [1]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu
from ta.trend import SMAIndicator
import yfinance as yf
import datetime

# Appel API yfinance #

In [2]:
ndx = yf.Ticker("^NDX")
hist = ndx.history(period="max", interval="1wk")

In [3]:
# Passe la date d'index Ã  colonne
hist.reset_index(inplace=True)

In [4]:
hist.drop(columns=['High','Low','Dividends','Stock Splits'], inplace=True)

# Mise en forme dates #

In [6]:
hist["Num_Semaine"] = hist.Date.apply(lambda d : d.strftime('%Y-%V'))
hist["Date"] = hist.Date.apply(lambda d : d.strftime('%Y-%m-%d'))

In [7]:
hist["Open"] = hist.Open.apply(lambda f : round(f,2))
hist["Close"] = hist.Close.apply(lambda f : round(f,2))

In [8]:
hist.tail()

            Date      Open     Close       Volume Num_Semaine
1943  2022-12-26  10944.30  10939.76  15783390000     2022-52
1944  2023-01-02  11038.42  11040.35  19830080000     2023-01
1945  2023-01-09  11133.07  11541.48  25886490000     2023-02
1946  2023-01-16  11531.54  11619.03  21067950000     2023-03
1947  2023-01-20  11363.90  11619.03   1098966000     2023-03

# Ecriture #

In [9]:
# Write recipe outputs
yfinance_ndx_hist1985_weekly = dataiku.Dataset("yfinance_ndx_hist1985_weekly")
yfinance_ndx_hist1985_weekly.write_with_schema(hist)

1948 rows successfully written (MHyI9vHDMX)