In [10]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu
from ta.volatility import AverageTrueRange

In [11]:
# Read recipe inputs
yfinance_ndx_hist_1985_daily = dataiku.Dataset("yfinance_ndx_hist_1985_daily")
df = yfinance_ndx_hist_1985_daily.get_dataframe()

In [12]:
# Colonne ATR
s_atr = AverageTrueRange(high=df.High, low=df.Low, close=df.Close, window=10).average_true_range()
df["ATR_10"] = round(s_atr,2)

In [13]:
df = df.loc[9:]
df = df[['Date','Open','Close','ATR_10']]

In [15]:
df.reset_index(drop=True, inplace=True)

In [0]:
# Write recipe outputs
y1985_ATR = dataiku.Dataset("y1985_ATR")
y1985_ATR.write_with_schema(df)